
h1 {
  text-align : center;
  color: white;
  line-height : 1;
  font-size : 5em;
  border : 1px solid;
  margin : 100px 610px;
  letter-spacing: 9px;
  padding: 20px 0px; 
  background-image: url("https://jooinn.com/images/color-smoke-18.png");
  background-position: center;
  background-repeat : no-repeat; 
  background-size : 600px;
 
  
}
html{ 
  font-family : permanent marker; 
}


body { 
  background-color : black;
}
