* {
    padding: 0px;
    margin: 0px;

}

body {
    font-family: sans-serif;
}

header nav {}

header nav ul {
    list-style: none;
    background-color: black;
    display: flex;

    padding: 0 9% 12px 9%;
    justify-content: space-between;


}

header nav li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: auto;
    padding: auto;
    font-weight: 1000;
    letter-spacing: -1.4px;



}

header nav li {
    margin: 6px
}

header nav div {
    text-align: center;

}

header nav div img {
    max-height: 92px;
}

header {

    background-color: black;
    padding-top: 15px;
}

.home {
    border-bottom: 6px solid white;
    padding-bottom: 4px;
}

main section:first-child {
    display: flex;
    flex-direction: column;
}

main section:nth-child(3) p:nth-child(3){
    padding-top: 10px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-start;
}

/*
main section:first-child div:first-child p {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 45%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 30px
}

main section:first-child div:nth-child(2) p {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 75%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 30px
}

main section:first-child div:nth-child(3) p {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 105%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 30px
}
*/

main section:first-child div img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 200px;

}

h2 {
    text-align: center;
    margin-top: 50px;
    line-height: 1.6;
    font-size: 2em;
    letter-spacing: -1px
}

main section:nth-child(3) div img {
    max-width: 100%;
    padding-bottom: 20px
}

main section:nth-child(3) div:nth-child(3) {
    display: none;
}

main section:nth-child(3) div p {
    font-size: 14px;
    letter-spacing: -0.9px;
    text-align: center;
}

main section:nth-child(3) {
    display: flex;
    margin: 0 2% 0 2%;


}

main section:nth-child(3) div {
    padding: 0 25px 25px 25px;
}

h3 {
    background-color: black;
    color: white;
    width: 200px;
    font-size: 14px;
    height: 40px;
    text-align: center;
    padding-top: 30px;
    margin: auto;
}

#wit {
    color: white;
    margin: 50px 0px 0px;
    padding-top: 70px;
    background-color: black
}

#zwart {
    background-color: black
}

main section:nth-child(6) div:nth-child(3) {
    display: none;
}

main section:nth-child(6) div img {
    max-width: 100%;
    padding-bottom: 20px;
    border: white 1px solid
}

main section:nth-child(6) div p {
    font-size: 14px;
    letter-spacing: -0.9px;
    color: white;
}

main section:nth-child(6) article {
    display: flex;
    padding: 0 2% 0 2%;



}

main section:nth-child(6) div {
    padding: 0 25px 25px 25px;

}

main section:nth-child(6) {
    padding-bottom: 20px
}

#quote {
    background-color: white;
    color: black;

}

#blogs h4 {
    text-transform: uppercase;
    line-height: 1.5;
    margin:  22px 0px ;
    padding: 0px 30px;

}

#blogs p {
    margin: 0px 0px 25px;
    line-height: 1.8
}

#blogs {
    margin: 0 20px 50px 20px;
}

#blogs img {
    margin: auto;
    width; 360px;
    padding: 10px
}
#blogs h6{
    font-size: 12px;
    font-weight: normal;
    border-bottom: 2px solid black;
    width: 68px;
    margin: auto;
    padding-bottom: 4px;
    margin-bottom: 20px
}

#blogs figure {
    text-align: center;
}
#blogs h5{
    font-size: 13px;
    font-weight: normal;
    padding: 10px;
    
}

main section:nth-child(9) {}

footer {
    background-color: black;
    color: #b9b9b9;
    padding: 60px 20px 20px;
}

footer h5 {
    color: white;
    font-size: 20px;
    margin: 0 0 30px;

}

footer ul {
    list-style: none;
    padding-bottom: 20px
}

footer li {
    padding: 0 0 15px;
    font-size: 14px;
}

footer li:hover {
    color: white;
}

footer h6 {
    font-size: 14px;
    color: white;
    margin: 0 20px 30px 0
}

footer section:nth-child(2) {
    text-align: center;

}

footer p {
    padding: 0 17px;
    margin: 0 0 15px;
}

footer section:nth-child(2) ul {
    display: flex;
    justify-content: space-around;

    padding: 0 15px;
    width: 142px;
    margin: auto;
    margin-top: 30px;



}

footer img {
    height: 80px;
    width: 80px;
}

footer article:nth-child(2) li {
    display: flex;
}

footer article:nth-child(2) li p {
    padding-top: 10px;
}

#form {
    display: flex;
    flex-direction: column;
}

footer input {
    padding: 12px;
    margin: 0 0 10px;
    background-color: black;
    color: white;
    font-size: 14px;
    width: 180%;
}

footer button {
    height: 60px;
    width: 195%
}

footer section:first-child {
    padding-bottom: 60px;
    border-bottom: solid white 1px;
}

footer section:nth-child(2) {
    margin-top: 40px
}

footer input {
    width: 90%;
}

footer button {
    width: 95%;
}


@media all and (min-width: 770px) and (max-width: 1025px) {


    body {
        background-color: ;
    }

    main section:nth-child(3) div:nth-child(3) {
        display: block;
    }

    main section:nth-child(6) div:nth-child(3) {
        display: block;
    }

    main section:nth-child(6) article {
        padding: 20px 10px 50px;
        margin: 0px;
    }

    main section:nth-child(6) div {
        margin: 0px 20px 0px 0px;
        padding: 0px;
    }


    #blogs figure {
        display: flex;
        flex-direction: row
    }

    #blogs div:nth-child(3) {
        display: none;
    }

    footer article {
        display: flex;
        justify-content: space-between;

    }

    header ul {
        margin: 0px 30px;

    }

    footer div {
        width: 50%;
    }


    main section:first-child div img {
        width: 100%;
        object-fit: cover;
        object-position: top;
        max-height: 250px;
    }

    footer input {
        padding: 12px;
        margin: 0 0 10px;
        background-color: black;
        color: white;
        font-size: 14px;
        width: 180%;
    }

    footer button {
        height: 60px;
        width: 195%
    }
}








@media all and (min-width: 1026px) {
    footer section {
        display: flex;
        justify-content: space-between;
    }

    footer article {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    footer section:nth-child(2) ul {
        margin: 0;
        padding: 0;
    }

    footer section:nth-child(2) p {
        margin-right: 600px;

    }

    main section:first-child {
        flex-direction: row;
        width: 100%;
    }

    main section:first-child div {
        width: 34%;
    }

    main section:first-child div img {
        width: 100%;
        object-fit: fill;
        height: 100%;


    }
    
    main section:nth-child(6) {
        padding-left: 5%;
        padding-right: 5%;
    }
    
     main section:nth-child(3) {
        padding-left: 5%;
        padding-right: 5%;
    }
    
    
    
    footer {
        padding-right:  80px;
        padding-left: 80px;
    }

    header nav ul {

        padding-bottom: 4px;

        width: 40%;
        margin: auto;

    }


    main section:nth-child(3) div:nth-child(3) {
        display: block;
    }

    main section:nth-child(6) div:nth-child(3) {
        display: block;
    }

    #blogs figure {
        display: flex;
        justify-content: space-between;
    }





}







/*
    header nav ul {
        list-style: none;
        background-color: black;
        display: flex;

        padding-bottom: 4px;
        margin-left: 30%;
        margin-right: 30%;

    }

    header nav li a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        margin: 0;
        padding: 0;
        font-weight: 500;
        letter-spacing: -1px;


    }


    header nav div {
        text-align: center;

    }

    header nav div img {
        max-height: 92px;
    }

    header {

        background-color: black;
        padding-top: 15px;
    }

    .home {
        border-bottom: 4px solid white;
    }


    main section:first-child {
        display: flex;
    }

    main section:first-child div img {
        width: 33vw;
    }
*/
}
